.background{
    height: 55vh;
    width: 100%;
  
    background-image: url(digital-dreams-1155914.webp);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    }
    .text{
        height: 95vh;
    width: 100%;
    opacity: 0.4;
    position: absolute;
        margin-left: 50px;
        margin-top: 80px;
    }
       .background :hover .text {
            background-color: red;
            color: black;
            font-size: 18px;
            opacity: 1;

    }
