.background{
    height: 55vh;
    width: 26vw;
  
    background-image: url(digital-dreams-1155914.webp);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    }
    .text{
        height: 55vh;
    width: 26vw;
    opacity: 1;
    position: absolute;
   text-align: center;
    z-index: 1;

       
    }
    .head{
        margin-top: 200px;
    }
       .background :hover .text {
            background-color: red;
            font-size: 18px;
            opacity: 1;

    }
