.bar{
    background-color: #212529;
    height: 80vh;
    width: 300px;
    border-color: white;
    
}
.bar h2{
    text-align: center;
}
.amazon{
    
    color: white;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    line-height: 5vh;
    margin-left: 50px;
}
.name{
    font-size: 25px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    align-items: center;
    
}
.submit{
    background-color: transparent;
    color: white;
    width: 75px;
    height: 35px;
    border-radius: 5px;
    border-color: white;
}
.search{
    width: 250px;
    height: 35px;
    border-radius: 5px;
}
